.container-fluid {
    display: flex;
    width: 95%;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    height: 100%;
    width: 80%;
    min-height: 80vh;
    align-items: center;
    justify-content: start;
    padding-top: 6rem;
}

li {
    list-style: none;
}

td {
    height: 1rem;
    width: 3.5rem;
    border: 1px solid #777;
}

td:nth-child(odd) {
    background-color: #ddd;
}

td:nth-child(even) {
    background-color: #ccc;
}

table div {
    height: 100%;
}

table div div {
    margin-right: .5rem;
}
